.initialize.project

.atom
.cache
.config
.git
.local
.npm
.pki
.ssh
.yarn
build
contracts/enabled
migrations/enabled
.bashrc
.common.bashrc
.gitconfig
.viminfo
.workspace
.wrapped-truffle
.yarnrc

dapp/node_modules
dapp/package-lock.json
dapp/yarn.lock
dapp/.pnp
dapp/.pnp.js
dapp/coverage
dapp/build
dapp/.DS_Store
dapp/.env.local
dapp/.env.development.local
dapp/.env.test.local
dapp/.env.production.local
dapp/.eslintcache
dapp/npm-debug.log*
dapp/yarn-debug.log*
dapp/yarn-error.log*
